@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>

<head>
    <meta charset="utf-8" />
    <title>Metronic | Extra - User Profile</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <environment names="Development">
        <link href="~/demo/metronic.bootstrap/media/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/demo/metronic.bootstrap/media/css/bootstrap-responsive.min.css" rel="stylesheet" />
        <link href="~/demo/metronic.bootstrap/media/css/halflings.css" rel="stylesheet" />
        <link href="~/demo/metronic.bootstrap/media/css/glyphicons.css" rel="stylesheet" />
        <link href="~/demo/metronic.bootstrap/media/css/font-awesome.css" rel="stylesheet" />
        <link href="~/demo/metronic.bootstrap/media/css/style-metro.css" rel="stylesheet" />
        <link href="~/demo/metronic.bootstrap/media/css/style.css" rel="stylesheet" />
        <link href="~/demo/metronic.bootstrap/media/css/style-responsive.css" rel="stylesheet" />
        <link href="~/demo/metronic.bootstrap/media/css/default.css" rel="stylesheet" />
        <link href="~/demo/metronic.bootstrap/media/css/uniform.default.css" rel="stylesheet" />
        <link href="~/demo/metronic.bootstrap/media/css/bootstrap-fileupload.css" rel="stylesheet" />
        <link href="~/demo/metronic.bootstrap/media/css/chosen.css" rel="stylesheet" />
        <link href="~/demo/metronic.bootstrap/media/css/profile.css" rel="stylesheet" />
        <link href="~/demo/metronic.bootstrap/media/image/favicon.ico" rel="stylesheet" />
    </environment>
</head>
<body>
    @section main{
        <div class="container-fluid" ng-app="myApp">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid" style="margin-top:50px">
                <div class="span12">
                    <!-- BEGIN STYLE CUSTOMIZER -->
                    <div class="color-panel hidden-phone">
                        <div class="color-mode-icons icon-color"></div>
                        <div class="color-mode-icons icon-color-close"></div>
                        <div class="color-mode">
                            <p>THEME COLOR</p>
                            <ul class="inline">
                                <li class="color-black current color-default" data-style="default"></li>
                                <li class="color-blue" data-style="blue"></li>
                                <li class="color-brown" data-style="brown"></li>
                                <li class="color-purple" data-style="purple"></li>
                                <li class="color-grey" data-style="grey"></li>
                                <li class="color-white color-light" data-style="light"></li>
                            </ul>
                            <label>
                                <span>Layout</span>
                                <select class="layout-option m-wrap small">
                                    <option value="fluid" selected>Fluid</option>
                                    <option value="boxed">Boxed</option>
                                </select>
                            </label>
                            <label>
                                <span>Header</span>
                                <select class="header-option m-wrap small">
                                    <option value="fixed" selected>Fixed</option>
                                    <option value="default">Default</option>
                                </select>
                            </label>
                            <label>
                                <span>Sidebar</span>
                                <select class="sidebar-option m-wrap small">
                                    <option value="fixed">Fixed</option>
                                    <option value="default" selected>Default</option>
                                </select>
                            </label>
                            <label>
                                <span>Footer</span>
                                <select class="footer-option m-wrap small">
                                    <option value="fixed">Fixed</option>
                                    <option value="default" selected>Default</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <!-- END BEGIN STYLE CUSTOMIZER -->
                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        个人信息
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <i class="icon-home"></i>
                            <a href="index.html">Home</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li>
                            <a href="#">Extra</a>
                            <i class="icon-angle-right"></i>
                        </li>
                        <li><a href="#">User Profile</a></li>
                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid profile">
                <div class="span12">
                    <!--BEGIN TABS-->
                    <div class="tabbable tabbable-custom tabbable-full-width">
                        <div class="span12">
                            <div class="span3">
                                <ul class="ver-inline-menu tabbable margin-bottom-10">
                                    <li class="active">
                                        <a data-toggle="tab" href="#tab_1-1">
                                            <i class="icon-cog"></i>
                                            个人信息
                                        </a>
                                    </li>
                                    <li class=""><a data-toggle="tab" href="#tab_3-3"><i class="icon-lock"></i>修改密码</a></li>
                                </ul>
                            </div>
                            <div class="span9 tab-content">
                                <div class="tab-pane fade in active" id="tab_1-1">
                                    <div style="height: auto;" id="accordion1-1">
                                        <form method="post" enctype="multipart/form-data">
                                            <label class="control-label">头像</label>
                                            <div style="height:100px;width:100px;">
                                                <span class="">
                                                    <input type="file" name="uploadImage" id="uploadImage" />
                                                </span>
                                            </div>
                                            <div>
                                                <label class="control-label">昵称</label>
                                                <input type="text" class="m-wrap span8" name="username" />
                                                <label class="control-label">手机号</label>
                                                <input type="text" class="m-wrap span8" name="mobilephone" />
                                                <label class="control-label">邮箱</label>
                                                <input type="text" class="m-wrap span8" name="email" />
                                                <label class="control-label">性别</label>
                                                <input type="radio" name="sex" value="0" />
                                                男
                                                <input type="radio" name="sex" value="1" checked />
                                                女
                                                <label class="control-label">个性说明</label>
                                                <textarea class="span8 m-wrap" rows="3" name="descript"></textarea>
                                            </div>
                                            <div class="submit-btn">
                                                <input type="button" class="btn green" onclick="Update()" value="保存" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab_3-3">
                                    <div style="height: auto;" id="accordion3-3">
                                        <form action="#">
                                            <label class="control-label">Current Password</label>
                                            <input type="password" class="m-wrap span8" />
                                            <label class="control-label">New Password</label>
                                            <input type="password" class="m-wrap span8" />
                                            <label class="control-label">Re-type New Password</label>
                                            <input type="password" class="m-wrap span8" />
                                            <div class="submit-btn">
                                                <a href="#" class="btn green">Change Password</a>
                                                <a href="#" class="btn">Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end span9-->
                    </div>
                </div>
                <!--END TABS-->
            </div>
        </div>

        <script src="~/demo/metronic.bootstrap/media/js/jquery-1.10.1.min.js"></script>
        <script src="~/demo/metronic.bootstrap/media/js/jquery-migrate-1.2.1.min.js"></script>
        <script src="~/demo/metronic.bootstrap/media/js/jquery-ui-1.10.1.custom.min.js"></script>
        <script src="~/demo/metronic.bootstrap/media/js/bootstrap.min.js"></script>
        <script src="~/demo/metronic.bootstrap/media/js/jquery.slimscroll.min.js"></script>
        <script src="~/angular/Controllers/UserInfo/directives.js"></script>
        <script src="~/demo/metronic.bootstrap/media/js/jquery.blockui.min.js"></script>
        <script src="~/demo/metronic.bootstrap/media/js/jquery.cookie.min.js"></script>
        <script src="~/demo/metronic.bootstrap/media/js/jquery.uniform.min.js"></script>
        <script src="~/demo/metronic.bootstrap/media/js/bootstrap-fileupload.js"></script>
        <script src="~/demo/metronic.bootstrap/media/js/chosen.jquery.min.js"></script>
        <script src="~/demo/metronic.bootstrap/media/js/app.js"></script>
        <script src="~/angular/angular.min.js"></script>
        <script src="~/js/SaveUpload.js"></script>
        <script>
            jQuery(document).ready(function () {
                // initiate layout and plugins
                App.init();
            });
            //function Update() {
            //    alert("1");
            //    var formData = new FormData();
            //    formData.append("uploadImage", $('#uploadImage').get(0).files[0]);
            //    formdata.append('name', $(".name").val());
            //    formdata.append('mobilephone', $(".mobilephone").val());
            //    formdata.append('email', $(".email").val());
            //    formdata.append('sex', $(".sex"), val());
            //    formdata.append('descript', $(".descript").val());
            //    $.ajax({
            //        url: '/User/Update',
            //        type: 'post',
            //        contentType: false,
            //        data: formdata,
            //        processData: false,
            //        success: function (info) {
            //            debugger
            //            $('.backimg').attr('src', JSON.parse(info).msg);
            //        },
            //        error: function (err) {
            //            console.log(err)
            //        }
            //    });


            //}
        </script>
    }
    <!-- END JAVASCRIPTS -->
    <script type="text/javascript">var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-37564768-1']); _gaq.push(['_setDomainName', 'keenthemes.com']); _gaq.push(['_setAllowLinker', true]); _gaq.push(['_trackPageview']); (function () { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();</script>
</body>
<!-- END BODY -->
</html>
