<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="off" internalLogFile="./Logger/info.txt">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--

   -->
  <targets>
    <!--<target name="console" xsi:type ="Console" />
    <target name="debugger" xsi:type="Debugger" layout="${date:format=HH\:mm\:ss.fff}: ${message}" />
    <target name="error_file" xsi:type="File"
                    fileName="${basedir}/Logs/Error/${shortdate}/error.txt" maxArchiveFiles="30"
                    layout="${longdate} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />-->
    <target name="error_file" xsi:type="File"
                fileName="${basedir}/TempFile/Logger/${shortdate}/info.txt" maxArchiveFiles="5"
                layout="${longdate} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
    <target name="database" xsi:type="Database" 
            connectionString ="Server=127.0.0.1;port=3306;User Id=sa;Password=mysql@123456;Database=Blog;Character Set=utf8;SslMode=none;"
            commandText="INSERT INTO s_log (Date,Account,Level,Server,Url,Logger,Message,Exception) Values(@Date,@Account,@Level,@Server,@Url,@Logger,@Message, @Exception);"
            >
      <parameter name = "@Date" layout = "${longdate}" />
      <parameter name = "@Account" layout = "${event-context:item=Account}"/>
      <parameter name = "@Level" layout = "${level}" />
      <parameter name = "@Logger" layout = "${logger}"/>
      <parameter name = "@Server" layout = "${aspnet-request-host}"/>
      <parameter name = "@Url" layout = "${aspnet-request-url:IncludeQueryString=true}" />
      <parameter name = "@Message" layout = "${message}" />
      <parameter name = "@Exception" layout ="${exception:tostring}"/>
      <dbProvider>MySql.Data.MySqlClient.MySqlConnection,Mysql.Data</dbProvider>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="error_file" />
    <logger name="*" minlevel="Error" writeTo="database" />
  </rules>
</nlog>
