<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width = device-width" />
    <title>MY BLOG</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/css/main.css?v=20192225" rel="stylesheet" />
    <script src="~/js/jquery.js"></script>
    <script src="~/layui/layui.js"></script>
</head>
