<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width = device-width" />
    <link href="~/layui/css/layui.css?201908072009" rel="stylesheet" />
    <link href="~/css/main.css?v=201922262" rel="stylesheet" />
    <link href="~/css/layout.css?v=201908072011" rel="stylesheet" />
    <link href="~/css/common.css?v=201908072040" rel="stylesheet" />
    <link href="~/css/global.css?v=1" rel="stylesheet" />
    <script src="~/js/jquery.js"></script>
    <script src="~/layui/layui.js?v=3"></script>
    <style>
        .layui-container{
            width:1406px !important
        }
          .layui-layedit-tool .layui-colorpicker-xs {
            border: 0;
        }

        .layui-layedit-tool .layui-colorpicker-trigger-span i {
            display: none !important;
        }
    </style>
</head>

@using Blog.Common
@using Blog.Domain.Core
@{
    Dictionary<string, string> dic = new Dictionary<string, string>();
    foreach (var item in Enum.GetValues(typeof(ArticleType)))
    {
        dic.Add(item.ToString(), item.GetEnumText<ArticleType>());
    }
}
<body class="add">
    <div class="add-header">
        <img src="/img/logo.png" class="header-bg">
        <ul class="layui-nav layui-layout-right nav-right">
            <li class="layui-nav-item" lay-unselect="">
                <img src="" class="layui-nav-img" />风一样的男子
            </li>
        </ul>
    </div>
    <div class="layui-container fly-marginTop">
        <div class="fly-panel" pad20 style="padding-top: 5px;">
            <div class="layui-form layui-form-pane">
                <div class="layui-tab layui-tab-brief" lay-filter="user">
                    <ul class="layui-tab-title">
                        <li class="layui-this">发表文章</li>
                        <li>   <button type="button" class="layui-btn layui-btn-primary">预览</button></li>
                    </ul>

                    <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                        <div class="layui-tab-item layui-show">
                            <form action="" method="post">
                                <div class="layui-row layui-col-space15 layui-form-item" style="margin-top:-214px">
                                    <div class="layui-col-md3">
                                        <label class="layui-form-label">所在专栏</label>
                                        <div class="layui-input-block">
                                            <select lay-verify="required" name="class" lay-filter="column">
                                                <option>...</option>
                                                @foreach (var item in dic)
                                                {
                                                    <option value="@item.Key">@item.Value</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-col-md9">
                                        <label for="L_title" class="layui-form-label">标题</label>
                                        <div class="layui-input-block">
                                            <input type="text" id="L_title" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-text">
                                    <div class="layui-input-block">
                                        <textarea id="L_content" name="content" required lay-verify="required" placeholder="写一写" class="layui-textarea"></textarea>
                                    </div>
                                </div>
                                <div class="add-chechbox">
                                    <input type="checkbox" name="" title="有人评论时邮箱通知我" lay-skin="primary" checked>
                                </div>
                                <div class="layui-form-item">
                                    <button class="layui-btn edit" lay-filter="publish" data-type="content" lay-submit>存为草稿</button>
                                    <button class="layui-btn edit" lay-filter="publish" data-type="content" lay-submit>立即发布</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        layui.use(['form', 'layer', 'layedit'], function () {
            var layedit = layui.layedit, $ = layui.jquery;
            layui.form.render("select");
             layedit.set({
            //暴露layupload参数设置接口 --详细查看layupload参数说明
            uploadImage: {
                url: '/Upload/UploadImage',
                accept: 'image',
                acceptMime: 'image/*',
                exts: 'jpg|png|gif|bmp|jpeg',
                size: 1024 * 10,              
                done: function (data) {
                    console.log(data);
                }
            },
            uploadVideo: {
                url: 'your url',
                accept: 'video',
                acceptMime: 'video/*',
                exts: 'mp4|flv|avi|rm|rmvb',
                size: 1024 * 10 * 2,
                done: function (data) {
                    console.log(data);
                }
            }
            , uploadFiles: {
                url: 'your url',
                accept: 'file',
                acceptMime: 'file/*',
                size: '20480',
                autoInsert: true , //自动插入编辑器设置
                done: function (data) {
                    console.log(data);
                }
            }
            //右键删除图片/视频时的回调参数，post到后台删除服务器文件等操作，
            //传递参数：
            //图片： imgpath --图片路径
            //视频： filepath --视频路径 imgpath --封面路径
            //附件： filepath --附件路径
            , calldel: {
                url: 'your url',
                done: function (data) {
                    console.log(data);
                }
            }
            , rightBtn: {
                type: "layBtn",//default|layBtn|custom  浏览器默认/layedit右键面板/自定义菜单 default和layBtn无需配置customEvent
                customEvent: function (targetName, event) {
                    //根据tagName分类型设置
                    switch (targetName) {
                        case "img":
                            alert("this is img");
                            break;
                        default:
                            alert("hello world");
                            break;
                    };
                    //或者直接统一设定
                    //alert("all in one");
                }
            }
            //测试参数
            , backDelImg: true
                 //开发者模式 --默认为false
            , devmode: false
            //是否自动同步到textarea
            , autoSync: true
            //内容改变监听事件
            , onchange: function (content) {
                console.log(content);
            }
            //插入代码设置 --hide:false 等同于不配置codeConfig
            , codeConfig: {
                hide: true,  //是否隐藏编码语言选择框
                default: 'javascript', //hide为true时的默认语言格式
                encode: true //是否转义
                ,class:'layui-code' //默认样式
            }
            , tool: [
                 'code', 'strong', 'italic', 'underline', 'del', 'addhr', '|','removeformat', 'fontFomatt', 'fontfamily','fontSize', 'fontBackColor', 'colorpicker', 'face'
                , '|', 'left', 'center', 'right', '|', 'link', 'unlink', 'image_alt', 'video','attachment'
                , '|'
                , 'table'
                , 'fullScreen'
            ]
            , height: '500px'
        });
            var index = layedit.build('L_content');
            var active = {
                content: function () {
                    alert(layedit.getContent(index)); //获取编辑器内容
                }
                , text: function () {
                    alert(layedit.getText(index)); //获取编辑器纯文本内容
                }
                , selection: function () {
                    alert(layedit.getSelection(index));
                }
            };
            $('.edit').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });
    </script>
</body>
</html>