<!DOCTYPE html>
<head>
    @*<meta name="viewport" content="width = device-width" />*@
    <meta name="referrer" content="never">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>微语</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/css/main.css?v=201908021513" rel="stylesheet" />
    <link href="~/css/common.css?v=201908021702" rel="stylesheet" />
    <script src="~/js/jquery.js"></script>
    <script src="~/layui/layui.js?v=123"></script>
    @*<style media="screen">

        </style>*@
</head>
<div class="content">
    <div class="cont h1370">
        <div class="title">
            <span class="layui-breadcrumb title-type" lay-separator="|">
                <a href="javascript:;" class="active">散文礼记</a>
                <a href="javascript:;">编程世界</a>
                <a href="javascript:;">旅游杂记</a>
            </span>
            <div class="layui-input-inline search">
                <input type="search" name="keyword" autocomplete="off" class="layui-input" placeholder="输入完后按回车" />
                <i class="layui-icon layui-icon-search"></i>
            </div>
            <a href="" class="layui-btn" style="color:white !important;font-size:14px !important">写一写</a>
        </div>
        <hr class="bor" />
        <div class="list-item box-left">
            <div class="item">
                <div class="layui-fluid">
                    <div class="layui-row">
                        <div class="layui-col-xs12 layui-col-sm8 layui-col-md7">
                            <div class="item-cont item-title">
                                <h3>空间立体效果图，完美呈现最终效果 <button class="layui-btn layui-btn-danger new-icon">new</button><button class="layui-btn new-icon w62">散文礼记</button></h3>

                                <p>室内设计作为一门新兴的学科，尽管还只是近数十年的事，但是人们有意识地对自己生活、生产活动的室内进行安排布置，甚至美化装饰，赋予室内环境以所祈使的气氛，却早巳从人类文明伊始的时期就已存在</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="bor item-bottom" />
            <div class="item">
                <div class="layui-fluid">
                    <div class="layui-row">
                        <div class="layui-col-xs12 layui-col-sm8 layui-col-md7">
                            <div class="item-cont item-title">
                                <h3>空间立体效果图，完美呈现最终效果<button class="layui-btn layui-btn-danger new-icon">new</button></h3>
                                <p>室内设计作为一门新兴的学科，尽管还只是近数十年的事，但是人们有意识地对自己生活、生产活动的室内进行安排布置，甚至美化装饰，赋予室内环境以所祈使的气氛，却早巳从人类文明伊始的时期就已存在</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="bor item-bottom"/>
            <div class="item">
                <div class="layui-fluid">
                    <div class="layui-row">
                        <div class="layui-col-xs12 layui-col-sm8 layui-col-md7">
                            <div class="item-cont item-title">
                                <h3>空间立体效果图，完美呈现最终效果<button class="layui-btn layui-btn-danger new-icon">new</button></h3>
                                <p>室内设计作为一门新兴的学科，尽管还只是近数十年的事，但是人们有意识地对自己生活、生产活动的室内进行安排布置，甚至美化装饰，赋予室内环境以所祈使的气氛，却早巳从人类文明伊始的时期就已存在</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="bor item-bottom" style="" />
            <div class="item">
                <div class="layui-fluid">
                    <div class="layui-row">
                        <div class="layui-col-xs12 layui-col-sm8 layui-col-md7">
                            <div class="item-cont item-title">
                                <h3>空间立体效果图，完美呈现最终效果<button class="layui-btn layui-btn-danger new-icon">new</button></h3>
                                <p>室内设计作为一门新兴的学科，尽管还只是近数十年的事，但是人们有意识地对自己生活、生产活动的室内进行安排布置，甚至美化装饰，赋予室内环境以所祈使的气氛，却早巳从人类文明伊始的时期就已存在</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="bor item-bottom" />
            <div class="item">
                <div class="layui-fluid">
                    <div class="layui-row">
                        <div class="layui-col-xs12 layui-col-sm8 layui-col-md7">
                            <div class="item-cont item-title">
                                <h3>空间立体效果图，完美呈现最终效果<button class="layui-btn layui-btn-danger new-icon">new</button></h3>
                                <p>室内设计作为一门新兴的学科，尽管还只是近数十年的事，但是人们有意识地对自己生活、生产活动的室内进行安排布置，甚至美化装饰，赋予室内环境以所祈使的气氛，却早巳从人类文明伊始的时期就已存在</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="bor item-bottom"/>
            <div id="page" style="text-align: center;"></div>
        </div>
        <div class="box-right">
            <div class="box h251">
                <div class="box-title">
                    <h3>热门推荐</h3>
                </div>
                <ul class="li-item">
                    <li> <a href="">正是个好文章</a></li>
                    <li> <a href="">hijklmn</a></li>
                    <li> <a href="">opq</a></li>
                    <li> <a href="">正是个好文章</a></li>
                    <li> <a href="">正是个好文章</a></li>
                    <li> <a href="">1</a></li>
                </ul>
            </div>

            <div class="box hot">
                <div class="box-title">
                    <h3>热门推荐</h3>
                </div>
                <div class="layui-tab layui-tab-card" lay-filter="test" style="margin-top:-1px">
                    <ul class="layui-tab-title">
                        <li class="layui-this" lay-id="day">一日内</li>
                        <li lay-id="week">一周内</li>
                        <li lay-id="month">一月内</li>
                    </ul>
                    <div class="layui-tab-content" style="padding:0px !important">
                        <div class="layui-tab-item layui-show">
                            点击该Tab的任一标题，观察地址栏变化，再刷新页面。选项卡将会自动定位到上一次切换的项
                        </div>
                        <div class="layui-tab-item">
                            <ul class="li-item-hot">
                                <li> <a href="">正是个好文章</a></li>
                                <li> <a href="">hijklmn</a></li>
                                <li> <a href="">opq</a></li>
                                <li> <a href="">正是个好文章</a></li>
                                <li> <a href="">正是个好文章</a></li>
                            </ul>
                        </div>
                        <div class="layui-tab-item">内容3</div>
                        <div class="layui-tab-item">内容4</div>
                    </div>
                </div>
            </div>

            <div class="box h155">
                <div class="box-title">
                    <h3>推荐网址</h3>
                </div>
                <a href="https://www.cnblogs.com/" target="_blank">
                    <span class="label color2">博客园</span>
                </a>
                <a href="https://www.layui.com/" target="_blank">
                    <span class="label color3">layui</span>
                </a>
                <a href="https://www.oschina.net/" target="_blank">
                    <span class="label color4">开源中国</span>
                </a>
                <a href="https://github.com/Hansdas/surging" target="_blank">
                    <span class="label color1">微服务之surging</span>
                </a>
                <a href="https://www.gamersky.com/" target="_blank">
                    <span class="label color3">游民星空</span>
                </a>
                <a href="https://www.runoob.com/" target="_blank">
                    <span class="label color2">菜鸟教程</span>
                </a>
                <a href="http://www.5173.com/?recommenduserid=US15061749098191-04F6" target="_blank">
                    <span class="label color1">5173</span>
                </a>
            </div>
        </div>
        <div id="page" style="text-align: center;"></div>
    </div>
</div>
<script type="text/javascript">
    layui.config({
        base: '/js/'
    }).use(['element', 'laypage', 'jquery', 'menu'], function () {
        element = layui.element, laypage = layui.laypage, $ = layui.$, menu = layui.menu;
        menu.init();
      laypage.render({
    elem: 'page'
    ,count: 1000
    ,layout: ['page', 'count']
  });
    })
</script>