<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width = device-width" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/css/main.css?v=201922261" rel="stylesheet" />
    <link href="~/css/layout.css?v=121" rel="stylesheet" />
    <script src="~/js/jquery.js"></script>
    <script src="~/layui/layui.js"></script>
    <script src="~/js/layout.js?v=5"></script>
    <script>
        layui.use('form', function () {
            var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
            form.render();
        });
    </script>
</head>
@model Domain.User
@using Blog
@{
    Domain.User user = Auth.GetLoginUser();
}
<body>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <ul class="layui-nav layui-layout-right nav-right">
                <li class="layui-nav-item">
                    <a href="">控制台<span class="layui-badge">9</span></a>
                </li>
                <li class="layui-nav-item">
                    <a href="">个人中心<span class="layui-badge-dot"></span></a>
                </li>
                <li class="layui-nav-item" lay-unselect="">
                    <a href=""><img src="" class="layui-nav-img" />@user.Username</a>
                    <dl class="layui-nav-child" style="color:white !important">
                        <dd><a href="javascript:;">修改信息</a></dd>
                        <dd><a href="javascript:;">安全管理</a></dd>
                        <dd><a href="../Login/LoginOut">退了</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12" style="width:1370px;padding-left:115px">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <div pad20 style="padding-top: 5px;">
                            <div class="layui-form layui-form-pane">
                                <div class="layui-tab layui-tab-brief" lay-filter="user">
                                    <ul class="layui-tab-title">
                                        <li class="layui-this">
                                            发表内容
                                        </li>
                                    </ul>
                                    <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                                        <div class="layui-tab-item layui-show">
                                            <form>
                                                <div class="layui-row layui-col-space15 layui-form-item" style="margin-top:-215px">
                                                    <div class="layui-col-md3">
                                                        <label class="layui-form-label">所在专栏</label>
                                                        <div class="layui-input-block">
                                                            <select lay-verify="required" name="class" lay-filter="column">
                                                                <option></option>
                                                                <option value="0">提问</option>
                                                                <option value="99">分享</option>
                                                                <option value="100">讨论</option>
                                                                <option value="101">建议</option>
                                                            </select>
                                                            <div class="layui-unselect layui-form-select">
                                                                <div class="layui-select-title">
                                                                    <input type="text" placeholder="请选择" value="" readonly="" class="layui-input layui-unselect">
                                                                    <i class="layui-edge"></i>
                                                                </div>
                                                                <dl class="layui-anim layui-anim-upbit">
                                                                    <dd lay-value="" class="layui-select-tips">请选择</dd>
                                                                    <dd lay-value="0" class="">提问</dd>
                                                                    <dd lay-value="99" class="">分享</dd>
                                                                    <dd lay-value="100" class="">讨论</dd>
                                                                    <dd lay-value="101" class="">建议</dd>
                                                                </dl>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="layui-col-md9">
                                                        <label for="L_title" class="layui-form-label">标题</label>
                                                        <div class="layui-input-block">
                                                            <input type="text" id="L_title" name="title" required="" lay-verify="required" autocomplete="off" class="layui-input">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-wrap">
        <div class="footer w1000">
            <div class="qrcode">
                <img src="../res/img/erweima.jpg">
            </div>
            <div class="practice-mode">
                <img src="../res/img/down_img.jpg">
                <div class="text">
                    <h4 class="title">我的联系方式</h4>
                    <p>微信<span class="WeChat">1234567890</span></p>
                    <p>手机<span class="iphone">1234567890</span></p>
                    <p>邮箱<span class="email">1234567890@qq.com</span></p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>