/*文章*/
.h1370
{
    height:1370px
}
.h1370 .title{
    margin-left:19.33%
}
.h1370 .title i{
    position:absolute;
    top:8px;
    right:8px
}
.layui-btn {
    color: white !important;
    font-size: 14px !important
}
.box-left{
    float:left;
    width:1170px
}
.item-title{
    width:954px
}
.box-left .item h3 {
    margin-left: 181px !important
}
.w62{
    width:62px !important
}
.box-right {
    float:right;
}
.box {  
    width: 327px;
    margin-right: 84px;
    border-radius: 2px
}
.h251 {
    height: 251px;
}
.h155 {
    height: 155px;
    border: 1px solid #ddd;
    margin-top: 28px
}
.box-title {
    height: 30px;
    background-color: #393D49 !important;
    border-radius: 2px
}
    .box-title h3 {
        margin-left: 10px;
        line-height: 29px;
        color: white
    }
 .h251 ul li {
    border: 1px solid #ddd;
    height: 36px;
    display: block;
    padding-left: 15px;
    line-height: 34px;
    margin-bottom: -1px;
    border-radius: 2px;
    font-size:14px
    
}
.label {
    display: inline;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    line-height: 33px;
    margin-left: 6px
}
.h155  span {
    margin-bottom: 3px;
    padding: 4px 6px 4px 6px;
    cursor: pointer;
}
.color1 {
    background-color: #337ab7
}
.color2 {
    background-color: #5cb85c
}
.color3 {
    background-color: #d9534f
}
.color4 {
    background-color: #f0ad4e
}